.pie{
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.pie-columna {
    flex: 1;
    padding: 0 10px;
    margin-top: 40px;
}

.vinetas{
    list-style: none;
    padding: 0%;
}

li{
    text-decoration: none;
}

