//insertarmain//
.tiposdecafe{
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-wrap: wrap;
    
}
    
.nombrec{
    display: flex;
    align-items: start;
}

.subtitulo{
    display: flex;
    align-items: center;
}

.presentacion__another__text{
    background-color: $color_triadro;
    margin: $texto;
}

