 .nombrec{
    display: flex;
    align-self: center;
}

.ubitienda{
    display: flex;
    align-self: center;
}


.presentacion{
    &__another{
        color: $color_triadve;
        text-align: center;
        margin: $margen;
        background-color: $colorgris;
       
    &__text{
            color: $color_triadvi;
            margin: $margen;
            text-align: center;
            background-color: $colorgris;
       }
    }
}

.card{
    border-radius: 10px;
    color: $color_triadvi;
    background-color: $colormarroncito;
    @include espacios
}
