body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    
}
.titulos{
    font-family: "Playfair Display", serif;
    font-weight: 100;
    color: $colorverde;
}

.all-p{   
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    margin-top: 25px;
    margin-right: 25px; 
    margin-bottom: 25px;
    margin-left: 25px;
}

.subtitulo{
    display: flex;
    align-items: center;
}