body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    
}
.titulos{
    @include ph
}

.all-p{   
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    margin: $margen;
}

.subtitulo{
    display: flex;
    align-items: center;
}



