body{
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: normal;
    
}
.titulos{
    font-family: "Playfair Display", serif;
    font-weight: 100;
    color: rgba(255, 255, 255, 0.61);
    
}
.all-p{   
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    margin-bottom: 2%;
    
}