//variables
//contenedor que tiene un nombre y que voy a poder 
//invocar cuando lo necesite
//nombre          //valor
$titulo-principal: system-ui;
$size-titulo-principal: 10rem;
$size-titulo-secundario: 6rem;
$size-titulo-terciario: 4rem;

//colores
$color-primario: rgba(218, 121, 56, 0.61);
$backgound-pie: rgba(223, 220, 220, 0.61);
$blanco:  rgba(255, 255, 255, 0.61);

