//colores
$colorgris: #d6d7dd;
$colormarroncito: #bba998;
$colormarron: #AB876C;
$colorverdecito: #8BA18B;
$colorverde: #708970;
$color_triadro: #897070;
$color_triadve: #708970;
$color_triadvi: #707089;

//textos
$margen: (
    margin-top 25px,
    margin-right 50px,
    margin-bottom 25px,
    margin-left 50px,
    )